.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80mm;
    padding: 5%;
    border-style: solid;
  }
  
  .submit-button {
    width: 20mm;
    height: 9mm;
    background-color: lightblue;
    border-style: none;
    border-radius: 5px;
  }
  
  .input {
    margin-bottom: 20px;
    width: 50mm;
    height: 8mm;
  }
  
  .gender {
    margin-right: 5px;
  }
  