.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    /* border-style: solid; */
    height: 40mm;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .header-image {
    cursor: pointer;
  }
  
  .navbar-container {
    font-size: 15px;
    font-weight: 600;
  }
  
  #basic-nav-dropdown {
    color: black !important;
  }
  
  #basic-nav-dropdown:hover {
    color: grey !important;
  }
  
  .navbar-link {
    color: black !important;
  }
  